<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addCourse" method="POST">
        CourseID: <input type="text" name="txtCourseID"> <br>
        Name: <input type="text" name="txtNameCourse">    <br>
        Tutor: <input type="text" name="txtTutor">         <br> 
        Category: <input type="text" name="txtCategoryCourse"><br>
        Descripton: <input type="text" name="txtDescription"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>