<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="addCourse" method="POST">
        CourseID: <input type="text" name="txtCourseID"> 
        Name: <input type="text" name="txtNameCourse">    
        Tutor: <input type="text" name="txtTutor">          
        Category: <input type="text" name="txtCategoryCourse">
        Descripton: <input type="text" name="txtDescription">
    </form>
</body>
</html>