<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff</title>
</head>
    <h1>Add Staff</h1>
    <form action="addStaff" method = "POST">
        FullName: <input type="text" name="txtName">
        <br>
        Email: <input type="email" name="txtEmail">
        <br>
        Age: <input type="text" name="txtAge">
        <br>
        Address: <input type="text" name="txtAddress">
        <br>
        Specialty: <input type="text" name="txtSpecialty">
        <br>
        <input type="submit" value="Add Staff">
        <input type="submit" value="Cancel">
    </form>
</body>
</html>