<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff</title>
</head>
    <h1>Add Staff</h1>
    <form action="addStaff" method="post">
        Full name: <input type="text" name="staffName"> <br>
        Username: <input type="text" name="username"> <br>
        Age: <input type="number" name="staffAge"> <br>
        Phone: <input type="text" name="staffPhone"> <br>
        Speciality: <input type="text" name="staffSpecialty"> <br>
        Address: <input type="text" name="staffAddress"> <br>
        <input type="submit" value="Add">
        <a href="/admin/manage_staff">Cancel</a>
    </form>
</body>
</html>