<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add User</h1>
    <h1>AddTrainer Page</h1>
    <form action="addTrainee" method = "POST">
        FullName: <input type="text" name="txtName">
        Email: <input type="email" name="txtEmail">
        Age: <input type="text" name="txtAge">
        Address: <input type="text" name="txtAddress">
        Specialty: <input type="text" name="txtSpecialty">
        <br>
        <input type="submit" value="Submit">
        <input type="submit" value="Cancel">

        
    </form>
</body>
</html>