<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcom Admin Page</h1>
    <div class="header">
        <li>Update profile</li>
        <li>Logout</li>
    </div>
    <div class="function">
        <li>Home</li>
        <li>Add Staff</li>
        <li>Add Trainer</li>
        <li>Manage Staff</li>
        <li>Manage Trainer</li>
    </div>
</body>
</html>