<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <h1>Welcom Admin Page</h1>
    <div class="header">
        <li><a href="/admin/update_admin"> Update profile </a></li>
        <li><a href="/logout"> Logout </a></li>
    </div>
    <div class="function">
        <li>Home</li>
        <li>Add Staff</li>
        <li>Add Trainer</li>
        <li>Manage Staff</li>
        <li>Manage Trainer</li>
    </div>
    <ul>
        <li><a href="/admin/manage_trainer"> Manage Trainer Account</a></li>
        <li><a href="">Manage Trainer Account </a></li>
        <li><a href="/admin/manage_staff"> Manage Staff Account</a></li>
        <li><a href="">Manage Staff Account </a></li>
    </ul>
</body>
</html>