<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Search Course</title>
</head>
<body>
    <div class="header">
        <a href=""><img src="/images/avt.jpeg" width="3%"></a>
        <li><a href="/trainee/update">Update profile</a></li>
        <li><a href="">Logout</a></li>
    </div>
    <br>
    <center><img src="/images/Logo.png" width="20%" height="40%"></center>
    <form class="s" action="/trainee/search" method="POST">
        <input type="search" name="txtSearch" placeholder="Search Course">
    </form>
    <br>
    <div class="function">
        <li><a class="home" href="/trainee">Home</a></li>
        <li><a class="course" href="/trainee/viewMyCourse">My Course</a></li>
        <li><a class="class" href="/trainee/viewClass">View Classmates</a></li>    
    </div>
    <br>
    <table>
        <tr>
            <th>Course ID</th>
            <th>Name Course</th>
            <th>Trainer</th>
            <th>Controller</th>
        </tr>
        {{#each data}}
        <tr>
                <td>{{courseID}}</td>
                <td>{{courseName}}</td>
                <td>{{tutor}}</td>
                <td><a href="/trainee/join?id={{_id}}">Join</a></td>
        </tr>
        {{/each}}
    </table>
</body>
</html>