<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Trainees Page</title>
</head>
<body>
    <div class="header">
        <a href="/trainee/view"><img src="/images/avt.jpeg" width="3%"></a>
        <li><a href="/trainee/update">Update profile</a></li>
        <li><a href="">Logout</a></li>
    </div>
    <br>
    <center><img src="/images/Logo.png" width="20%" height="40%"></center>
    <form class="s" action="/trainee/search" method="post">
        <input type="search" name="txtSearch" placeholder="Search Course">
    </form>
    <br>
    <div class="function">
        <li><a class="home" href="/trainee">Home</a></li>
        <li><a class="course" href="/trainee/viewMyCourse">My Course</a></li>
        <li><a class="class" href="/trainee/viewClass">View Classmates</a></li>    
    </div>
    <br>
    <center><img src="/images/img.png" width="70%" height="30%"></center>
</body>
</html>