<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer Page</title>
</head>
<body>
    <h1>Welcom Trainer Page</h1>
    <h2>{{userInfo.name}}</h2>
    <h2>Role: {{userInfo.role}}</h2>
</body>
</html>