</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>View Course Category</title>
</head>

<body>
    <a href="/staff/staffPage">Home</a>
    <a href="/staff/addCourseCategory">Add Course Category</a>
    <a href="/staff/searchCourseCategory">Search Course Category</a>
    <br>
    <br>
    <div class="table-trainee">
        <table bolder=3>
            <tr>
                <th>Course Category Name</th>
                <th>Descripton</th>
                <th>Controler</th>
            </tr>
            {{#each bas}}
            <tr>
                <td>{{courseCategoryName}}</td>
                <td>{{descriptionCourseCategory}}</td>
                <td><a href="/staff/updateCourseCategory?id={{_id}}">Edit</a>
                    <a href="/staff/deleteCourseCategory?id={{_id}}">Delete</a>
                </td>
            </tr>
    </div>
    {{/each}}
    </table>
    </div>
</body>

</html>