.container {
    display: grid;
    grid-template-columns: 15% 70% 13%;
}

.c-item {
    border: gainsboro 1px solid;
}

.nav {
    grid-column: 1;
    grid-row: 1/4;
}

.logo-uni img {
    max-width: 100%;
}

.nav li {
    list-style-type: none;
    padding: 10px 20px;
}

.nav li:hover {
    background-color: #ddd;
}

.controller {
    grid-column: 2/4;
    grid-row: 2;
    height: 100px;
    display: flex;
    border-bottom: none;
}

.body {
    border-top: none;
}

.controller div {
    border: 1px solid gainsboro;
    margin: auto;
    padding: 30px 70px;
    border-radius: 5px;
}

.body {
    grid-column: 2/4;
    grid-row: 3;
    min-height: 550px;
}

a {
    color: black;
    text-decoration: none;
}

.search {
    display: flex;
}

.search input {
    border: 1px solid white;
    width: 80%;
    height: 30px;
    margin: auto;
}

.user {
    padding: 0 40px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.profile:hover .dropdown {
    display: block;
}