li,
a {
    list-style-type: none;
    display: inline;
    text-decoration: none;
}

.header {
    border: 1px outset black;
}
.header a:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.function {
    border: 1px outset black;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 15% 25% 15% 15% 15% 15%;
    text-align: center;
}
.function a:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.s {
    margin-left: 85%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.container {
    max-width: 30%;
    margin-top: 10%;
    padding: 40px;
    border: gainsboro 1px solid;
    border-radius: 1%;
}

#text-login {
    margin-bottom: 40px;
}

.divText{
    text-align: right;
}
.divText a:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.up{
    margin: 1%;
}

.log{
    margin-left: 80%;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }